* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  color: rgba(255, 255, 255, 0.871);
  background-color: #313131;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  margin: 15% 15% 0% 15%;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1e1e1e;
  width: 500px;
  border-radius: 0 0 10px 10px;
}

button {
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  background-color: #1e1e1e;
  border: 0;
}

#range {
  cursor: pointer;
}